<!DOCTYPE html>
<html lang='en' dir='ltr'>
  <head>
    <meta charset='utf-8'>
    <title>
      {% block title %}
        Unicornz
      {% endblock %}
    </title>

    {% block header %}
    <form action='/redirecter', method="POST">
      <input type = 'submit' name = 'sub', value = 'trivia'>
    </form>

    <form action='/redirecter', method="POST">
      <input type = 'submit' name = 'sub', value = 'NHL'>
    </form>

    <form action='/redirecter', method="POST">
      <input type = 'submit' name = 'sub', value = 'Deck of Cards'>
    </form>
    {% endblock %}
  </head>

  <body>
      {% block body %}
      {% endblock %}
  </body>

  <footer>
      {% block footer %}
      {% endblock %}
  </footer>

</html>
