{% extends "base.html" %}

    {% block body %}
        <h1> Trivia API </h1>
        <br>
        This API gives a random trivia question.
        <br><br><br>
        {{question}}
        <br><br>
        Correct Answer: {{correctAns}}
        <br>
        Wrong Answers:
        {% for answer in wrongAns %}
            {{answer}}
        {% endfor %}

        <img src = {{pic}}>

    {% endblock %}


    {% block footer %}
        The API used is: <br>
        https://opentdb.com/api_config.php <br>
        Related API card: <br>
        https://docs.google.com/document/d/1yp2nicOExDYlrEfdvqspD17Kz5c-xMSWHudfmNjJgQ4/edit
        https://docs.google.com/document/d/1_CkEqysrBYJQ7XZBEWMpMrWhCQb0HPMPLGLknhnDtsA/edit
        https://docs.google.com/document/d/1oCJhl-NoNNpekMLd4C4jBXhpL9xvm6ZrVIdfoqbq-Vc/edit


    {% endblock %}
