<html>
	<head>
		<title>
			Meteorites
		</title>
	</head>
	<body>
		<h1>Meteorites</h1>
		<form action="/processLocation">
            <p>Find meteorites near {{location}}:</p>
            <select name="location">
            <option value ="New York City">New York City</option>
            <option value ="Chicago">Chicago</option>
            <option value ="Los Angeles">Los Angeles</option>
            <option value ="Boston">Boston</option>
            <option value ="Paris">Paris</option>
            <option value ="London">London</option>
            <option value ="Madrid">Madrid</option>
            <option value ="Moscow">Moscow</option>
            <option value ="Dubai">Dubai</option>
            <option value ="Mumbai">Mumbai</option>
            </select>
            <p><input type="submit" value="Submit"></p>
            </form>
		</form>

		{% for meteorite in output %}
		<h3>{{meteorite['name']}}</h3>
		<h5>{{meteorite['geolocation']['coordinates']}} </h5>
		{% endfor %}
	</body>

</html>
